# Compiled class files
*.class
bin/
out/

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/
.metadata/

# VSCode
.vscode/

# Maven
target/

# Gradle
.gradle/
build/
